body {
    background-color: rgb(173, 205, 219);
  }
  h1 {
    text-align: center;
    font-family: 'Krona One', sans-serif;
    color: navy;
    font-size: 300%;
  }
  h2 {
    text-align: center;
    font-family: 'Krona One', sans-serif;
    color: navy;
    font-size: 150%;
    margin-top: -20px;
  }
  h4 {
    padding: 5px;
    font-family: 'Krona One', sans-serif;
    color: navy;
    font-size: 130%;
    text-align: center;
  }
  #result {
    border: 5px double navy;
    border-radius: 20px;
    box-shadow: gray 10px 10px;
    margin-bottom: 20px;
    min-height: 300px;
    max-height: 310px;
    min-width: 300px;
    max-width: 300px;
    background-color: rgb(93, 151, 209);
    background-size: cover;
  }
  #result2 {
    min-height: 300px;
    background-color: rgb(230, 157, 230);
    max-height: 310px;
    min-width: 155px;
    max-width: 180px;
    border: 5px double navy;
    border-radius: 20px;
    box-shadow: gray 10px 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 5px;
  }
  #result3 {
    min-height: 300px;
    background-color: rgb(18, 121, 181);
    max-height: 310px;
    min-width: 100px;
    max-width: 160px;
    border: 5px double navy;
    border-radius: 20px;
    box-shadow: gray 10px 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 5px;
  }
  button {
    background-color: rgb(232, 94, 120);
    color: navy;
    font-weight: bold;
    width: 150px;
    border-radius: 20px;
    height: 50px;
    border: none;
  }
  input {
    color: navy;
    font-weight: bold;
    width: 200px;
    height: 50px;
    border: none;
    margin-left: 0px;
    margin-right: 10px;
    border-radius: 10px;
  }
  
  #resultarea {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  #inputarea {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  span {
    font-family: 'Krona One', sans-serif;
    color: navy;
  }
  #other {
    background-color: rgb(212, 35, 212);
    align-self: center;
    width: 200px;
  }
  #submit {
    padding: 50x;
    background-color: rgb(205, 85, 177);
  }
  #giveup {
    background-color: rgb(226, 73, 221);
    margin-left: 10px;
  }
  ::placeholder {
    color: navy;
    opacity: 0.7;
  }
  button:hover {
    box-shadow: gray 5px 5px;
  }
  #attempt {
    font-family: sans;
    padding: 5px;
    font-weight: bold;
    color: navy;
    font-size: 15px;
    background-color: rgb(134, 229, 193);
    margin-bottom: 10px;
  }
  h5 {
    color: navy;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    margin-top: -10px;
    font-family: sans;
  }
  #score {
    font-family: sans;
    padding: 5px;
    font-weight: bold;
    color: navy;
    font-size: 15px;
    background-color: rgb(234, 76, 202);
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #streak {
    font-family: sans;
    padding: 5px;
    font-weight: bold;
    color: navy;
    font-size: 15px;
    background-color: rgb(235, 22, 125);
    margin-bottom: 10px;
  }
  #guessessofar {
    font-family: sans;
    padding: 5px;
    font-weight: bold;
    color: navy;
    font-size: 15px;
    background-color: rgb(227, 62, 79);
  }
  #stats {
    text-align: center;
    font-weight: bold;
    color: navy;
    font-family: 'Krona One', sans-serif;
    font-size: 130%;
  }
  #guesscounter {
    font-size: 14px;
  }
  
  #currentguess {
    color: navy;
    font-family: sans;
    font-weight: bold;
    margin: 7px;
    background-color: white;
    padding: 10px;
  }